<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DBASISTENCIA;Data Source=LAP-TOSHIBA"/>
    <add key="connectionCommandTimeout" value="500"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>